html,
body {
  height: 100%;
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
  -webkit-font-smoothing: antialiased;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input,
button,
textarea,
:focus {
  -webkit-app-region: no-drag;
  outline: none;
}

#app {
  height: 100%;
}
