.us--none {
  user-select: none;
}

.fsa {
  -webkit-font-smoothing: antialiased;
}

.draggable {
  -webkit-app-region: drag;
}

.shadow-hairline--bottom-i {
  box-shadow: inset 0 -0.5px 0 rgba(0, 0, 0, 0.15);
}

.shadow-hairline--right-i {
  box-shadow: inset -0.5px 0 0 rgba(0, 0, 0, 0.15);
}

.shadow-hairline--bottom-right-i {
  box-shadow: inset 0 -0.5px 0 rgba(0, 0, 0, 0.15), inset -0.5px 0 0 rgba(0, 0, 0, 0.15);
}