html,
body {
  -webkit-font-smoothing: antialiased;
}

html {
  display: flex;
  height: 100%;
}

body {
  display: flex;
  flex: 1 1 auto;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input,
button,
textarea,
:focus {
  -webkit-app-region: no-drag;
  outline: none;
}

#app {
  display: flex;
  flex: 1 1 auto;
}
